autopep8
certifi
chardet
defusedxml
Django
django-allauth
django-countries
django-crispy-forms
django-debug-toolbar
idna
oauthlib
pep8
gunicorn
Pillow
pycodestyle
python-decouple
python3-openid
pytz
requests
requests-oauthlib
sqlparse
stripe
urllib3
whitenoise
